@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;600&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Inconsolata&display=swap');

:root {
    --text-color-dark: #111029;
    --text-color-light: #9F9FA9;
    --primary-color-dark: #3d5af1;
    --primary-color-light: #8D82FF;
    --code-color: rgba(27, 31, 35, 0.05);
}

* {
    margin: 0;
    padding: 0;
    border: 0;
    font-family: 'Poppins', sans-serif;
}

body {
    text-align: center;
}

h1 {
    color: var(--text-color-dark);
    font-size: 72px;
    line-height: 1.2;
    letter-spacing: -.5px;
}

h2 {
    color: var(--text-color-dark);
    font-size: 32px;
    line-height: 1.2;
    letter-spacing: -.5px;
}

a {
    text-decoration: none;
    font-size: 32px;
    color: var(--text-color-light);
    padding: 0em 1em 0em 1em;
    transition: color .25s;
}

a:hover {
    color: var(--text-color-dark);
}

.description {
    padding-top: 10em;
}

.contact {
    text-align: center;
    padding-top: 2em;
    padding-bottom: 2em;
}

.pgp {
    text-align: center;
}

.code {
    background-color: var(--code-color);
    padding: .2em 0.4em;
    border-radius: 6px;
    box-sizing: border-box;
    font-family: 'Inconsolata', monospace;
}
